body{
    background-color: #9D9A9B;
    font-family: 'poppinslight';
}

.bg_image{
  vertical-align: bottom;
}

#articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2em;
    margin-top: 2em;
    color:#435A68;
}


#articles:last-child article{
    width: 20em;
}
article {
    background-color: white;
    /* padding: 20px; */
    margin: 0.5em;
    padding: 15px;
    width: 15em;
    font-family: 'poppinslight';
    color:#435A68;
}

article a {
    text-decoration: underline;
    text-align: center;
    margin-left: 27em;
}

article a:hover{
    font-weight: bold;
}

#articles2{
    
    width: 25em;
}

article p {
    text-align: justify;
    font-size: 1em;
    margin: 2em;
}

h2{
    margin: 1em 0 1em 0;
}

h2, h3{
    text-align: center;
}

article h3{
    text-align: center;
    position : static;
    padding-top: 10%;
}




* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  height: 500px;
  position: relative;
  margin: auto;
  border-radius: 150px;
}

/* Hide the articles by default */
.mySlides {
  display: none;
}

.mySlides article{
    background-color: white;
    /* padding: 20px; */
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    width: auto;
    height : 500px;
    font-family: 'poppinslight';
    color:#435A68;
}

.mySlides article h3{
    font-size: 30px;
}

.mySlides article p{
    font-size: 25px;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.prev:last-child, .next:last-child {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot1 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.dot2 {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  margin:0em;
  margin-top:3em;
  margin-bottom: 2em;
}
.active, .dot1:hover {
  background-color: #717171;
}
.active, .dot2:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}