body{
    background-color: #e5e5e5;
    font-family: 'poppinslight';
    color: var(--main-blue);
}

h2 {
    color: var(--main-blue);
}

input[type=text]:focus,
select {
    outline: 3px solid var(--main-blue);
}

.menu a {
    color: var( --main-blue);
}

.container-compte {
    padding-top: 7%;
    color: #383737;
    font-family: 'poppinslight';
    margin-left: 500px;
}

.container-bloc {
    display: flex;
    justify-content: center;
    background-color: #e5e5e5;
    margin-bottom:30px;
}

.container-onglets {
    color: var( --main-blue);
    flex-direction: row;
}

.container-onglets ul {
    list-style: none;
}

.container-onglets button {
    font-size: 26px;
    font-family: 'poppinslight';
    color:  var( --main-blue);
    background-color: #e5e5e5;
    border: none;
    border-radius: 30px;
    padding : 10px 20px;
    margin-top: 20px;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.container-onglets button:hover{
    background-color: var( --main-blue);
    color:  white;
    border-radius: 30px;
    padding : 10px 20px;
}

.active{
    color:  white !important;
    background-color: var( --main-blue) !important;
}


.container-details {
    background-color: white;
    border-radius: 15px;
    padding: 50px 50px 20px 50px;
    width : 500px;
    height : 500px;
    color: #383737;
    flex-direction: row;
    margin: 10px;
    margin-left: 30px;
}

.group {
    margin: 20px;
}

#pass{
    display: flex;
    padding: 10px 45px 10px 0px;
}

#pass input{
    display: flex;
    padding: 10px 45px 10px 10px;
}

#nom, #prenom, #mail, #tel{
    margin-top: 10px;
}

.group input {
    border:none;
    background-color: #e5e5e5;
    padding: 10px 90px 10px 10px;
    border-radius: 7.5px;
}



.container-form button {
    margin: 20px;
    background-color: var( --main-blue);
    color : white;
    padding: 5px;
    border-radius: 15px;
}

/* TABLE */
/* ------------------------- */
table {
    border-collapse: collapse;
    width: 100%;
    border-radius:6px;
  }
  
td, th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
tr:nth-child(even){background-color: #f2f2f2;}
  
tr:hover {background-color: #ddd;}
  
th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #c7441c;
    color: white;
  }



