body {
  background-color: #9D9A9B;
  color:var( --main-blue);
}

.bg_image{
  vertical-align: bottom;
}

.EssenceContent {
  display: flex;
  flex-direction: row;
  margin: 1em;
}

.EssencesImagesContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 1em;
}

.modalButton{
  margin: 1em;
  cursor: pointer;
}

article {
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1.3em;
  background-color: white;
  padding: 1.2em;
}

article p {
  margin-top: 0.3em;
  margin-bottom: 1em;
}

article:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  width: 50%;
}



article:nth-of-type(2) img {
  margin-top: 0.5em;
  margin-bottom: 0.2em;
}

.Essence{
  display: none;
  background-color: #309739;
  margin: Opx;
  padding: 1em;
}

.Essence header {
  display: flex;
  justify-content: space-between;
}

.Essence div {
  margin: 2em;
}

.EssenceMainContent  {
  width: 10em;
}

.Essence ul {
  margin: 1.5em;
}
.closeButton {
  font-size: 2em;
  justify-self: end;
  cursor: pointer;
}

section {
  display: flex;

}