/* RECAP */
/* ------------------------- */
.recap {
    background-color: #233024;
}

/* desktop styles */
@media only screen and (min-width: 1401px) {
    .recap {
        display: flex;
        position: relative;
    }

    .recap-img {
        margin: 20px;
        object-fit: contain;
        align-self: flex-start;
    }

    .recap-text {
        flex: 1 1 auto;
    }

    .recap-text h2 {
        font-size: 4em;
    }

    .recap-text ul {
        list-style-type: none;
    }

    .description-container{
        font-family: 'poppinslight';
        color: #233024;
    }

    .product-container-right{
        font-family: 'poppinslight';
        color: #233024;
    }
}

/* mobile styles */
@media only screen and (max-width: 1400px) {
    .recap {
        text-align: center;
    }
    
    .recap-img img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }

    .recap-text p,li {
        font-size: 1.5em;
    }
}

/* BUTTON */
/* ------------------------- */
button {
    border: none;
    background-color: transparent;
}

button a {
    color: white;
    text-decoration: none;
    background-color: #252525;
    border-radius: 150px;
    font-size: 2em;
    padding: 10px 40px;
}

/* desktop styles */
@media only screen and (min-width: 1401px) {
    button a {
        margin: 20px;
        position: absolute;
        right: 0;
        bottom: 0;
    }
}

/* mobile styles */
@media only screen and (max-width: 1400px) {
    button {
        margin: 25px;
    }
}