#text-confirmation {
    color: var(--main-blue);
    padding-top: 2em;
    padding-bottom: 2em;
    font-size: 2em;
}

#consulter .consulter:hover {
    background-color: white;
    color: var(--main-blue);
}

#consulter .consulter {
    background-color: var(--main-blue);
    padding: 0.5em 3em;
    white-space: normal;
}

#consulter {
    margin-bottom: 1em;
}

#retour .retour {
    background-color: var(--main-green);
    padding: 0.5em 3em;
    white-space: normal;
}

#retour .retour:hover {
    background-color: white;
    color: var(--main-green);
}
