

.container-prix input:last-child {
  background-color: white;
  border: solid 1px;
  padding: 7px;
}



.reduc input:last-child {
  background-color: white;
  color: var(--main-green);
  border: 1px white;
}



section {
  margin: 2em;
  margin-top: 0;
}


#submit{
  background-color: var(--main-green);
  border-radius: 7px;
  color: white;
}



strong{
  color: var(--main-blue);
}

button:disabled,
button[disabled]{
  opacity: 0.5;
  cursor: not-allowed;
}


article div h4 {
  margin: 0px;
  margin-top: 5px;
  padding: 0px;
}


.container-item article>h4 {
  width: 70px;
}

.container-item h2:first-child {
margin-bottom:1.5em;
margin-left: 0.5em;
margin-top: 0.5em;
}

.quantite h4 {
  border: solid 1px var(--main-blue);
  border-radius: 15%;
  padding: 0.5em;
}

.infocomplementaires input {
width: 36em;
}

.titlereturn {
display: flex;
flex-direction: row;
flex-wrap: wrap;
align-content: space-between;
}

.titlereturn a{
position: relative;
left: 15em;
}

i {
margin-right: 0.5em;
}

/*Titres*/


.icon {
  display: flex;

  align-items: center;
  cursor: pointer;
}



  .titlereturn a{
    position: relative;
    top: 2em;
    left: -31em;
  }


