body{
    background-color: var( --secondary-gray-one);
    color: var( --main-blue);
}
h1{
    color: white;
}
img {
    vertical-align: bottom;
}


.contact-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*div de la carte et des informations*/
.contact-container>div{
    display: flex;
    justify-content: center;
    width:45%;
}

/*"contact"*/
h2{
    margin: 10px 10px 10px 0;
    border-bottom: 5px solid var( --secondary-gray-two);
    font-size: 2em;
}
/*texte de contact*/
section p{
    font-size: 1.5em;
}

#map{/*formation de la carte*/
    height:400px;
    width: 50%;
    z-index: 0;
    display: flex;
    margin: auto;
    margin-top: 10px;
}
.leaflet-bar{
    width: auto;
    height: auto;
}

/*style de toute la partie mail*/

/* Style inputs with type="text", select elements and textareas */
input[type=text],input[type=email], select, textarea {
    width: 100%;
    padding: 12px; 
    border-radius: 4px; 
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px;
    margin-bottom: 16px; 
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
    font-family: 'poppinslight';
    border: 1px solid transparent;
}

textarea::placeholder{
    font-size: 0.8em;
}
/*modifie la couleur lorsque l'input est séléctioné*/
textarea:focus,input:focus{
    outline: 3px solid var(--main-green);
}


/* Style the submit button with a specific background color etc */
input[type=submit] {
    padding: 0.5em 3em;
    border-radius: 150px;
    cursor: pointer;
    border: 3px solid var(--main-green);
    background: var( --main-green);
    color: white;
    font-size: 1.2em;
    display: inline;
    margin-right: 2em;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

/* When moving the mouse over the submit button, reverse color */
input[type=submit]:hover {
    background: white;
    color: var(--main-green);
}

/* Add a background color and some padding around the form */
.container {
    border-radius: 5px;
    padding: 20px;
    display: flex;
    justify-content: center;
} 
form{
    width: 75%;
}
/*couleur de l'étoile*/
.obligatoire {color: var( --main-blue);}


/* desktop styles */
@media only screen and (min-width: 1401px) {
    .etoile{
        display: inline;
    }
}

/* mobile styles */
@media only screen and (max-width: 1400px) {
    section{
        margin-bottom: 2em;
    }
    .etoile{
        margin-top: 1em;
        font-size: 0.8em;
    }
    .contact-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #map{
        width: 80%;
    }
}