/* ARTICLE */
/* ------------------------- */
/* desktop styles */

main{
    font-family: 'poppinslight';
}



@media only screen and (min-width: 1401px) {
   

    .bg_image{
        vertical-align: bottom;
        width: 100%;
    }

    article {
        background-color: var( --secondary-gray-one);
        color : var( --main-blue);
        font-family: 'poppinslight';
    }

    article div {
        display: flex;
    }

    article img {
        margin: 2.5em;
    }

    article p {
        text-align: left;
        font-size: 2em;
        margin: 2em;
        margin-top: 4em;
        text-align: justify;
    }
    
    h2 {
        font-size: 4em;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .titreIndex, .firstText, .secondText {
        opacity: 0;
        justify-content: center;
        padding-bottom: 1em;
        transition: 0.5s ease-in;
    }

    .titreIndex img {
        margin: 0;
    }

    h3 {
        text-transform: uppercase;
        font-size: 34px;
        line-height: 50px;
        font-weight: normal;
        color: var( --main-blue);
        border-bottom: 5px solid var( --secondary-gray-two);
        margin-left: 24px;
        margin-bottom: 28px;
    }

    h3:first-child{
        padding-top: 40px;
    }

    #demos{
        display: flex;
        justify-content: space-around;
    }

    #demos div{
        display: flex;
        flex-direction: column;
    }

    #demos div img{
        width: 450px;
        height: 360px;
        margin: 10px;
        
    }

    #demos div h3{
        margin-left: 0px;
    }


     /* BUTTON */
    /* ------------------------- */
    button{
        font-family: 'poppinslight';
    }

    .container {
        margin-top: 250px;
        width: 400px;
        height: 400px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .center {
        width: 180px;
        height: 60px;
        position: absolute;
      }
      
      .btn {
        width: 180px;
        height: 60px;
        cursor: pointer;
        background: transparent;
        border: 1px solid #ffff;
        outline: none;
        transition: 1s ease-in-out;
      }
      
      svg {
        position: absolute;
        left: 0;
        top: 0;
        fill: none;
        stroke: var( --main-blue);
        stroke-dasharray: 150 480;
        stroke-dashoffset: 150;
        transition: 1s ease-in-out;
      }
      
      .btn:hover {
        transition: 1s ease-in-out;
        background: #ffff;
        color: var( --main-blue);
      }
      
      .btn:hover svg {
        stroke-dashoffset: -480;
      }
      
      .btn span {
        color: white;
        font-size: 20px;
        font-weight: 100;
        transition: 1s ease-in-out;
      }
      .btn:hover span {
        transition: 0.2s ease-in-out;
        color: var( --main-blue);
      }

    main img{
        height: 900px;
        width: 1920px;
    }

    .a_header {
        color: var(--main-blue) !important;
    }
}

/* mobile styles */
@media only screen and (max-width: 1400px) {
    article {
        background-color: var( --secondary-gray-one);
        font-family: 'poppinslight';
    }

    .btn {
        display: none;
      }

    article div {
        display: flex;
        flex-wrap: wrap;
    }

    article img {
        margin: 2.5em;
        width: 100%;
    }

    article p {
        text-align: center;
        font-size: 2em;
        margin: 2em;
    }

    h2 {
        display: none;
    }
}