*{font-family:'poppinslight';}

.button {
    border: solid 2px var(--main-green);
    background-color: transparent;
    cursor: pointer;
    font-size: 1.5em;
    font-weight: bold;
    background-color: var(--main-green);
    border-radius: 150px;
    padding: 0.5em 4em;
    width: initial;
    display: initial;
    color: white;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.button:hover {
    background-color: white;
    font-weight: bold;
    color: var(--main-green);
    border: solid 2px var(--main-green);
}