/* FONT */
/* ------------------------- */
@font-face {
    font-family: 'Josefin Sans';
    src: url(../Resources/assets/josefinsans.ttf);
}

@font-face {
    font-family: 'poppinsblack';
    src: url('../Resources/bois2scie/poppinsFont/poppins-black-webfont.woff2') format('woff2'),
         url('../Resources/bois2scie/poppinsFont/poppins-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinsblack';
    src: url('../Resources/bois2scie/poppinsFont/poppins-black-webfont.woff2') format('woff2'),
         url('../Resources/bois2scie/poppinsFont/poppins-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinsblack_italic';
    src: url('../Resources/bois2scie/poppinsFont/poppins-blackitalic-webfont.woff2') format('woff2'),
         url('../Resources/bois2scie/poppinsFont/poppins-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinsbold';
    src: url('../Resources/bois2scie/poppinsFont/poppins-bold-webfont.woff2') format('woff2'),
         url('../Resources/bois2scie/poppinsFont/poppins-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinsbold_italic';
    src: url('../Resources/bois2scie/poppinsFont/poppins-bolditalic-webfont.woff2') format('woff2'),
         url('../Resources/bois2scie/poppinsFont/poppins-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinsextrabold';
    src: url('../Resources/bois2scie/poppinsFont/poppins-extrabold-webfont.woff2') format('woff2'),
         url('../Resources/bois2scie/poppinsFont/poppins-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinsextrabold_italic';
    src: url('../Resources/bois2scie/poppinsFont/poppins-extrabolditalic-webfont.woff2') format('woff2'),
         url('../Resources/bois2scie/poppinsFont/poppins-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinsextralight';
    src: url('../Resources/bois2scie/poppinsFont/poppins-extralight-webfont.woff2') format('woff2'),
         url('../Resources/bois2scie/poppinsFont/poppins-extralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinsextralight_italic';
    src: url('../Resources/bois2scie/poppinsFont/poppins-extralightitalic-webfont.woff2') format('woff2'),
         url('../Resources/bois2scie/poppinsFont/poppins-extralightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinsitalic';
    src: url('../Resources/bois2scie/poppinsFont/poppins-italic-webfont.woff2') format('woff2'),
         url('../Resources/bois2scie/poppinsFont/poppins-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinslight';
    src: url('../Resources/bois2scie/poppinsFont/poppins-light-webfont.woff2') format('woff2'),
         url('../Resources/bois2scie/poppinsFont/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'poppinslight_italic';
    src: url('../Resources/bois2scie/poppinsFont/poppins-lightitalic-webfont.woff2') format('woff2'),
         url('../Resources/bois2scie/poppinsFont/poppins-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* VARIABLES */
/* ------------------------ */
:root{
    --main-blue:#435A68;
    --main-green: #92CDB8;
    --secondary-brown-one: #F4E1C2;
    --secondary-brown-two: #D8C6AD;
    --secondary-brown-three: #736351;
    --secondary-brown-four: #B8A382;
    --secondary-gray-one: #D8D8DA;
    --secondary-gray-two: #9D9A9B;
}

/* BODY */
/* ------------------------- */
* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
    color: white;
    font-family: 'poppinslight';
    height: 100vh;
}

/* HEADER */
/* ------------------------- */
.menu-container {
    font-family: 'poppinslight';
    position: fixed;
    display: flex;
    align-items: center;
    background: rgba(255, 255, 255, 0);
    color: var( --main-blue);
    padding: 10px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
    box-sizing: border-box;
    transition: 0.7s ease-in-out;
}

/* Dropdown for user */
.dropbtn {
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    margin-left: 7%;
    margin-top: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }

.menu-logo {
    line-height: 0;
    margin: 0 20px;
}

.menu-logo img {
    flex-shrink: 0;
    border-radius: 50%;
}

.menu-container a {
    text-decoration: none;
    color: #254828;
    transition: color 0.3s ease;
}

.menu-container input {
    display: block;
    width: 35px;
    height: 25px;
    margin: 0;
    position: absolute;
    cursor: pointer;
    opacity: 0;
    /* hide this */
    z-index: 2;
    /* and place it over the hamburger */
    -webkit-touch-callout: none;
}

/* Burger menu */
.menu-container span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #f0eded;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

.menu-container span:first-child {
    transform-origin: 0% 0%;
}

.menu-container span:nth-child(3) {
    transform-origin: 0% 100%;
}

.menu-container input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(3px, -1px);
    background: #254828;
}

.menu-container input:checked~span:nth-child(4) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-container input:checked~span:nth-child(3) {
    transform: rotate(-45deg) translate(-5px, 11px);
}

.menu ul {
    list-style: none;
}

.menu li {
    padding: 10px 0;
    font-size: 22px;
}


.menu a {
    transition: ease-in-out 0.2s;
    padding: 10px 20px;
}

.menu a :hover {
    size: 2em;
}

/* desktop styles */
@media only screen and (min-width: 1401px) {
    .menu-container {
        width: 100%;
    }

    .menu-container a {
        color: white;
        transition: 0.5s ease-in;
    }

    .menu-container input {
        display: none;
    }

    /* Burger menu */
    .menu-container span {
        display: none;
    }

    .menu {
        position: relative;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .menu ul {
        display: flex;
        padding: 0;
    }

    .menu li {
        padding: 0 7px;
    }

    .menu li:hover {
        color: white;
    }

    .menu a:hover {
        background-color: var( --main-blue);
        border-radius: 150px;
        color: white !important;
    }
}

/* mobile styles */
@media only screen and (max-width: 1400px) {
    .menu-container {
        flex-direction: column;
        align-items: flex-end;
    }


    .menu-logo {
        position: absolute;
        left: 100%;
        top: 50%;
        transform: translateY(-50%);
    }

    .menu-logo img {
        max-height: 30px;
    }

    .menu {
        position: fixed;
        box-sizing: border-box;
        width: 300px;
        right: -300px;
        top: 0;
        margin: -20px;
        padding: 75px 30px 50px;
        background: #f0eded;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        transform-origin: 0% 0%;
        transform: translateX(0%);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    .menu a {
        font-size: 1.25em;
        padding: 10px 20px;
    }

    .menu a:active {
        background-color: #233024;
        border-radius: 150px;
        color: #f0eded;
    }

    .menu li {
        padding: 25px 0;
    }

    .menu-container input:checked~.menu {
        transform: translateX(-100%);
    }
}

/* MAIN */
/* ------------------------- */
main {
    position: relative;
    text-align: center;
    background-color: var(--secondary-brown-three);
}

main img {
    width: 100vw;
}

main div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

main h1 {
    font-size: 8vw;
    font-family: 'poppinslight';
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* LINK IN PAGE */
/* ------------------- */
.link {
    color: #666;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.link:hover {
    color: var(--main-green);
}

/* FOOTER */
/* ------------------------- */
footer {
    font-family: 'poppinslight';
    background-color: #ffff;
    display: flex;
    justify-content: space-between;
    position: sticky;
    height: 4rem;
    top: calc(100vh - 3.75rem);
}

footer p {
    margin: 1em;
}

footer a {
    text-decoration: none;
    color: white;
    transition: ease-in-out 0.2s;
}

footer a:hover {
    color: white !important;
}

/* desktop styles */
@media only screen and (min-width: 1401px) {
    footer p {
        font-size: 1.25em; 
    }

    footer a {
        padding: 10px 35px;
        color: var( --main-blue);
    }

    footer a:hover {
        background-color: var( --main-blue);
        border-radius: 150px;
        color: #D8D8DA;
    }
}

/* mobile styles */
@media only screen and (max-width: 1400px) {
    footer p {
        font-size: 1em;
    }

    footer a {
        padding: 10px 10px;
    }

    footer a:active {
        background-color: #233024;
        border-radius: 150px;
    }
}