body{
    background-color: #9D9A9B;
    font-family: 'poppinslight';
}

.bg_image{
  vertical-align: bottom;
}

p{
    text-align: center;
    font-size: 1em;
    margin: 2em;
}

h2{
    margin: 1em 0 1em 0;
    padding: 0.5em;
}

h2{
    text-align: center;
}

