body {
  background-color: #ebebeb;
  color: #383737;
}

.menu li a {
  color: var(--main-blue);
}

/*Div et sections*/


.container-panier {
  padding-top: 7%;
  color: #383737;
  display: flex;
  flex-direction: row;
  flex-basis: content;
  font-family: 'poppinslight';
}

.container-item {
  background-color: white;
  margin: 1em;
  padding: 1em;
  border-radius: 30px;
  font-family: 'poppinslight';
}


.container-prix {
  background-color: white;
  margin: 1rem;
  margin-right: 2rem;
  padding: 2rem;
  border-radius: 30px;
  justify-content: space-between;
  margin-top: 20px;
  font-family: 'poppinslight';
}

.container-prix h1 {
  justify-content: center;
  margin-bottom: 10px;
}

.container-prix input {
  margin-top: 1em;
}

.container-prix input:last-child {
  background-color: var(--main-green);
  color: white;
  border: 0px;
  padding: 7px;
}

#vide {
  display: flex;
  align-items: center;
}



.prix {
  display: flex;
  flex-direction: row;
  max-height: 20;
  justify-content: space-between;
}

.resume {
  padding-bottom: 15px;
}

.reduc {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  justify-content: space-between;
}

.reduc h4 {
  background-color: var(--main-green);
  color: white;
}

.reduc input:first-child {
  background-color: white;
  color: #383737;
  margin-right: 10px;
}

.reduc input:last-child {
  background-color: var(--main-green);
  color: white;
  border: 0px;
}

.pay {
  margin: 20px 60px;
  border: none;
  background-color: var(--main-green);
  color: white;
  padding: 20px;
  font-family: 'poppinslight';
  font-size: 20px;
}

.pay_dis {
  margin: 20px 60px;
  border: none;
  background-color: gray;
  color: white;
  padding: 20px;
  font-family: 'poppinslight';
  font-size: 20px;
  cursor: not-allowed;
}



input,
button {
  padding: 5px;
  border-radius: 7px;
}

button {
  cursor: pointer;
}

#submit{
  background-color: var(--main-green);
  border-radius: 7px;
  color: white;
  font-weight: normal;
  padding-top: 7px;
}

#submit:hover{
  cursor: pointer;
}


/*Articles*/

article {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  margin-bottom: 2rem;

}

article div:first-child {
  margin: 5px;
  margin-right: 100px;
  max-width: 180px;
  text-align: justify;
}

article div h3 {
  width: 20rem;
}

article div h4 {
  margin: 0px;
  margin-top: 5px;
  padding: 0px;
}

.container-item input {
  max-width: 50px;
}

.container-item article>h4 {
  width: 110px;
}




/*Titres*/
p{
  color: red;
}

h4 {
  margin: 5px;
  padding: 4px;
}

article h4 {
  max-height: 20px;
}

hr {
  margin-bottom: 1em;
}

img {
  border-radius: 7px;
  max-width: 58px;
  padding-right: 75px;
}


input[type=text]:focus,
input[type=number]:focus,
select {
  outline: 3px solid var(--main-green);
  border: 1px solid transparent;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.menu-logo img{
  max-width: 100px;
}


/* desktop styles */
@media only screen and (min-width: 811px) {
  .container-panier {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-basis: content;
  }

  .container-item {
    padding-right: 20%;
    width: 50%;
  }
}

/* mobile styles */
@media only screen and (max-width: 810px) {
  .container-panier {
    display: flex;
    flex-direction: column;
    flex-basis: content;
  }

}