body {
    background-color: var(--secondary-gray-one) !important;
    font-family: 'poppinslight';
}

header img {
    /* width: 80px; */
    height: 80px;
}

.menu-container {
    background-color: white!important;
}

.menu a {
    color: var(--main-blue);
}

.container-item {
    background-color: white;
    margin: 1em;
    padding: 1em;
    border-radius: 30px;
    font-family: 'poppinslight';
    justify-content: left;
  }

.product-container {
    display: flex;
    padding: 8rem;
    justify-content:space-around;
}

.product-container-right {
    display: flex;
    flex-direction: column;
    margin : 2rem;
}

.description-container {
    background-color: white;
    margin-left: none;
    padding-left: 4em;
    padding-top: 2em;
    padding-bottom: 2em;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.img-container img {
    width: 500px;
    height: auto;
    background-size: cover;
    margin-top: 100px;
}



h2 {
    font-size: 4em;
    color: var(--main-blue);
}

h3 {
    font-size: 2.5em;
    color: var(--main-green);
    margin-top: 1rem;
}

p {
    color: black;
    font-size: 1.5em;
}

label {
    color: black;
    margin-top: 0.5rem;
}

input[type=text],
input[type=number], 
select{
    padding: 1rem 1.5rem;
    margin: 0.3rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=text]:focus,
input[type=number]:focus,
select {
    outline: 3px solid var(--main-green);
    border: 1px solid transparent;
}

#trop{
    color: red;
    font-size: 1.2em;
}

#taille, #art{
    color: var(--main-blue);
}


.button {
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    background-color: var(--main-green);
    border-radius: 150px;
    padding: 0.5em 4em;
    width: initial;
    display: initial;
    color: white;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    border: 3px solid var(--main-green);
    margin-top: 2rem;
}

.button:hover {
    background-color: white;
    color: var(--main-green);
    border: 3px solid var(--main-green);
}

.hr-container {
    display: flex;
    justify-content: center;
}

hr {
    border: 2px solid var(--main-green);
    width: 94.5%;

}
