main img{
    width: 100%;
}

.products-container {
    font-family: 'poppinslight';
    background-color: var( --secondary-gray-one);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-around;
}

.search {
    position: absolute;
    display: flex;
    right: 0;
    top: 0;
    margin: 20px;
}

.search input {
    background-color: #254828;
    border-radius: 150px 0 0 150px;
    padding: 15px 20px;
    border: none;
    color: white;
    font-size: 1.5em;
}


.search button {
    background-color: #309739;
    border-radius: 0 150px 150px 0;
    border: none;
    font-size: 1.5em;
    padding: 0 20px 0 10px;
}

/* desktop styles */
@media only screen and (min-width: 1401px) {
    .search button {
        margin: 0 75px 0 0;
    }
}

.bg_image{
    vertical-align: bottom;
}


.search input:focus,
.search input:focus+button {
    outline: #309739 2px solid;
}

.search a {
    color: white;
}

.product {
    background-color: var( --secondary-gray-one);
    height: 350px;
    margin: 100px 50px 50px;
    font-size: 2em;
    position: relative;
    text-align: center;
    color: white;

}

.product img{
    width : 450px;
    height: 350px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    opacity: 1;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.product img:hover {
	opacity: .5;
}


h3{
    color:black;
    /* Centered text */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 2px 2px 4px white;
}

/* mobile styles */
@media only screen and (max-width: 1400px) {
    .product {
        padding: 80px;
        margin: 100px 5px 0 5px;
        white-space: nowrap;
    }
}
