body {
    color: var(--main-blue);
    /* background-color: var(--secondary-gray-one); */
}

input[type=text],
input[type=number], 
select{
    width: 100%;
    padding: 1rem 1.5rem;
    margin: 0.3rem;
    border: 1px solid transparent;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #F2F2F2;
}

input[type=text]:focus,
input[type=number]:focus,
select {
    outline: 3px solid var(--main-green);
    border: 1px solid transparent;
}

.adresse-wrapper {
    display: grid;
    place-items: center;
}

.adresse-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    column-gap: 2em;
    row-gap: 0;
}

.prenom { grid-area: 1 / 1 / 2 / 4; }
.nom { grid-area: 1 / 4 / 2 / 6; }
.entreprise { grid-area: 2 / 1 / 3 / 6; }
.adresse { grid-area: 3 / 1 / 4 / 5; }
.apt { grid-area: 3 / 5 / 4 / 6; }
.ville { grid-area: 4 / 1 / 5 / 5; }
.codepostale { grid-area: 4 / 5 / 5 / 6; }
.tel { grid-area: 5 / 1 / 6 / 6; } 

.paiement-wrapper {
    display: grid;
    place-items: center;
}

.paiement-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: 2em;
    row-gap: 0;
}
    
.numcarte { grid-area: 1 / 1 / 2 / 6; }
.fullname { grid-area: 2 / 1 / 3 / 6; }
.expdate { grid-area: 3 / 1 / 4 / 5; }
.cvc { grid-area: 3 / 5 / 4 / 6; }

.checkout {
    text-align: right;
    margin-right: 16rem;
}

h3 {
    font-size: 2em;
}

.button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.5em;
    background-color: var(--main-green);
    border-radius: 150px;
    padding: 0.5em 4em;
    width: initial;
    display: initial;
    color: white;
    text-decoration: none;
    transition: 0.2s ease-in-out;
    border: 3px solid var(--main-green);
    margin-top: 1rem;
}

.button:hover {
    background-color: white;
    color: var(--main-green);
    border: 3px solid var(--main-green);
}
    