*{font-family:'poppinslight';}

.container-button {
    display: flex;
    flex-direction: column;
}

.autofillform {
    margin-left: 3em;
}

.button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.5em;
    border-radius: 150px;
    padding: 0.5em 4em;
    margin: 0.5em;
    width: initial;
    display: initial;
    color: white;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

.button:hover {
    background-color: #254828;
}

.signup {
    background-color: var(--main-green);
    border: 3px solid var(--main-green);
}

.signup:hover {
    background-color: white;
    color: var(--main-green);
    border: 3px solid var(--main-green);

}

.cancel {
    background-color: #721515;
    padding: 0.5em 6.25em;
    border: 3px solid #721515;
}

.cancel:hover {
    background-color: white;
    color: #b91616;
    border: 3px solid #b91616;
}

/* mobile styles */
@media only screen and (max-width: 1400px) {
    .button {
        padding: 0.5em 2em;
    }

    .signup:focus {
        background-color: #254828;
    }

    .cancel:focus {
        background-color: #b91616;
    }
}