/* VARIABLES */
/* ------------------------ */
:root{
    --main-blue:#435A68;
    --main-green: #92CDB8;
    --secondary-brown-one: #F4E1C2;
    --secondary-brown-two: #D8C6AD;
    --secondary-brown-three: #736351;
    --secondary-brown-four: #B8A382;
    --secondary-gray-one: #D8D8DA;
    --secondary-gray-two: #9D9A9B;
}


/* FONT */
/* ------------------------- */

@font-face {
    font-family: 'poppinslight';
    src: url('../Resources/bois2scie/poppinsFont/poppins-light-webfont.woff2') format('woff2'),
         url('../Resources/bois2scie/poppinsFont/poppins-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    margin: 0;
    padding: 0;
    font-family: 'poppinslight';
}

body {
    background-color: #f2f2f2;
}

.container-login {
    background-color: white;
    text-align: center;
    
}

/* desktop styles */
@media only screen and (min-width: 1401px) {
    html {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
    }
    
    .container-login {
        border-radius: 15px;
        padding: 50px 50px 20px 50px;
        box-shadow: 4px 3px 8px 1px #969696;
        
    }
}

/* mobile styles */
@media only screen and (max-width: 1400px) {
    .container-login {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

}



.container-login h1 {
    text-align: center;
    color: #333;
    font-size: 3em;
    margin: 0 0 1em 0;
}

img {
    border-radius: 50%;
    margin-top: -2rem;
}

.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em 0 0 0;
}

.group {
    position: relative;
    margin-bottom: 45px;
}

input {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
}

input:focus {
    outline: none;
}

/* LABEL ======================================= */
label {
    color: #999;
    font-size: 18px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus~label,
input:valid~label {
    top: -20px;
    font-size: 14px;
    color: var(--main-green);
}

/* BOTTOM BARS ================================= */
.bar {
    position: relative;
    display: block;
    width: 300px;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: var(--main-green);
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

/* active state */
input:focus~.bar:before,
input:focus~.bar:after {
    width: 50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

/* active state */
input:focus~.highlight {
    -webkit-animation: inputHighlighter 0.3s ease;
    -moz-animation: inputHighlighter 0.3s ease;
    animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from {
        background: var(--main-green);
    }

    to {
        width: 0;
        background: transparent;
    }
}

@-moz-keyframes inputHighlighter {
    from {
        background: var(--main-green);
    }

    to {
        width: 0;
        background: transparent;
    }
}

@keyframes inputHighlighter {
    from {
        background: var(--main-green);
    }

    to {
        width: 0;
        background: transparent;
    }
}

.psignbutton {
    margin: 5em 0 0 0;
    font-size: 0.8em;
    color: #666;
}

.signupbutton {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.3em;
    color: var(--main-green);
    text-decoration: none;
    ;
}

.signupbutton a {
    color: var(--secondary-gray-two);
    text-decoration: none;
    transition: 0.2s ease-in-out
}

.signupbutton a:hover {
    color: var(--main-green);
}