

.form-choix {
    display: flex;
    justify-content: space-between;
}

.form-choix div{
    display: flex;
    flex-direction: column;
    margin-bottom: 4em;
}

span{
    margin: 2em;
    width: 20em;
    text-align: start;
}

h2{
    size: 1em;
    margin: 2em 0;
}

#particulier h2{
    color: var(--main-green);
}

#professionnel h2{
    color: var(--main-blue);
}

.button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 1.5em;
    border-radius: 150px;
    margin: 0.5em;
    width: initial;
    display: initial;
    color: white;
    text-decoration: none;
    transition: 0.2s ease-in-out;
}

#particulier .signup{
    background-color: var(--main-green);
    border: 3px solid var(--main-green);
}

#professionnel .signup{
    background-color: var(--main-blue);
    border: 3px solid var(--main-blue);
}


.signup { 
    padding: 0.5em 3em;
    white-space: normal;
}

#particulier .signup:hover {
    background-color: white;
    color: var(--main-green);
    border: 3px solid var(--main-green);
}

#professionnel .signup:hover {
    background-color: white;
    color: var(--main-blue);
    border: 3px solid var(--main-blue);
}

.cancel {
    background-color: #721515;
    padding: 0.5em 6.25em;
    border: 3px solid #721515;
}

.cancel:hover {
    background-color: white;
    color: #b91616;
    border: 3px solid #b91616;
}

/* mobile styles */
@media only screen and (max-width: 1400px) {
    .container-button {
        flex-direction: column;
    }    

    .signup {
        height: auto;
        width: auto;
        border-radius: 150px;
        padding: 0.5em 1em;
        font-size: 1.5em;
        white-space: nowrap;
    }

    .signup:focus {
        background-color: #254828;
    }

    .cancel {
        padding: 0.5em 2em;
    }

    .cancel:focus {
        background-color: #b91616;
    }
}