form {
    margin: 1em;
}

.cancel {
    background-color: #721515;
    padding: 0.5em 4.25em;
}

.container-form{
    flex-direction: row;
}

.userfillform {
    flex-direction: column;
}

.autofillform {
    flex-direction: column;
}

/* mobile styles */
@media only screen and (max-width: 1400px) {
    form {
        flex-direction: column;
    }
    
    .button {
        padding: 0.5em 2em;
    }

}